.with-gutter {
  margin-right: 1em;

  &:last-of-type {
    margin-right: 0;
  }
}

.palette {
  margin-top: 1em;
}

.colors {
  @include display(flex);

  li {
    $size: 2em;
    height: $size;
    width: $size;
    line-height: $size;

    &.add-color {
      margin-right: ($size / 4);

      input {
        padding: ($size / 4) ($size / 8 * 3);
        vertical-align: baseline;
      }
    }
  }
}

.dimensions {
  @include display(flex);

  .control {
    @extend .with-gutter;
  }
}
