.preview {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  height: 100%;
}

.layout {
  @include display(flex);
  @include flex-wrap(wrap);
}

.square {
  display: block;
  position: relative;
  outline: 1px solid black;

  .layer {
    position: absolute;
  }
}
